nav header h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: rgb(7, 123, 255);
    padding: 20px;
    color: white;
}

nav a {
    text-decoration-style: none;
    color: white;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
    justify-self: center;
    font-family: Arial, Helvetica, sans-serif;
}

nav a:hover {
    background-color: rgba(127, 197, 255, 0.733);
    padding: 10px 20px;
    border-radius: 3px;
    box-shadow: 5px 6px 5px black;
}

.hero {
    background-color: rgb(127, 225, 255);
    padding: 20px;
}

.hero h1 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.hero p {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

button {
    background-color: rgb(7, 123, 255);
    color: white;
    padding: 10px 20px;
    border: none;
    display: block;
    margin: 20px auto;
    box-shadow: 5px 6px 5px black;
    border-radius: 2px;
}

button:hover {
    border-color: white;
    border-style: dotted;
}

.about h1 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.about p {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 3px;
}